# Ignorar archivos de configuración y temporales
.vscode/
*.log
*.tmp
*.bak
*.swp
.History/
.hintrc

# Ignorar todo en ServipuertasMorelia excepto archivos CSS
ServipuertasMorelia/**
!ServipuertasMorelia/**/*.css
